/*CHANGING SOME BOOTS TRAP NAV*/
.navbar-custom { 
    background-color: #F5D236; 
} 

.navbar-custom .navbar-nav .nav-link {
    color: #223D94;
    font-size: 20px;
    font-weight: bold;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #223D94;
    font-size: 20px;
}

.navbar-custom .dropdown-item {
    color: #223D94;
    font-size: 20px;
    font-weight: bold;
}

.sections {
	height: 100vh;
}

.samecolor {
	color: #223D94;
}

/*TOP*/
.topbar {
	top: 0;
	z-index: 1;
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: #F5D236;
}

.topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topbar li {
  float: left;
}

.topbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

.under {
	align-content: center;
}

.socialIcons {
	height: 2rem;
	width: auto;
}

/*Image*/
.marchi {
  height: 100vw;
  width: auto;
}
